body{
    margin:0;
    padding: 0;
    background-color: violet;
}
main{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 10vh;
}
.define{
    margin: 30%;

}

.container{
    display: flex;
}

    
/*.row{
    display: flex;
}*/
 h2 {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    justify-content: center; 
    display: flex;

}
p{
width: auto;
margin: auto;
font-family: 'Times New Roman', Times, serif;
justify-content: center;
align-items: center;
}

img{
    width: 90%;
    height: 300px;
    justify-content: center;
    background-position: center;
    align-items: center;
    border-radius: 20px;
}